@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #55f758;
  --primary-color-dark: #219407;
  --secondary-color: #85ffac;
  --text-dark: #0a9302;
  --text-light: #73937b;
  --background: rgb(3, 12, 3);
  --background1:#29302e;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}


*::-webkit-scrollbar-track{
  background-color: var(--background);
}

*::-webkit-scrollbar-thumb{
  background-color: var(--background1);
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
 
  z-index: 99;
  background-color: var(--background);
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  font-family: cursive;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
 
  display: none;
}

nav input {
  
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
  
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
  
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--background);
  
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  
}



.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}



.reach__me a {
  background-color: var(--primary-color);
  color: var(--background1);
  font-size: 1.17rem;
  width: 100px;
  padding: 10px;
  border-radius: 1rem;
  
}


.reach__me a:hover {
  background-color: var(--primary-color-dark);
  font-size: 1.2rem;
  font-weight: 500;

}



.image_profile {
 padding-top: 50px;
  display: grid;
  place-items: center;
}

.image_profile img {
  width: min(25rem, 50%);
  
  clip-path: circle();
}


.aboutme
{
  width: 100%;
  background-color: var(--background1);
  display: flex;
  padding: 50px;
}
.left_container
{
  width: 50%;
  padding: 20px;
}
.right_container
{
  width: 50%;
  padding: 20px;
  text-align: center;
  opacity: 0;
  animation: fade-in linear forwards ;
  animation-timeline: view();
  animation-range: entry 100px;
}
.about_title
{
  font-size: 30px;
  font-weight: 1000;
  color: var(--primary-color-dark);
  padding-bottom: 10px;


}
.image1 {
  display: grid;
  place-items: center;
}

.image1 img {
  width: min(25rem, 50%);
  opacity: 0;
  animation: fade-in linear forwards ;
  animation-timeline: view();
  animation-range: entry ;
 
  
  
}



/* Style the skills section */
.skills {
  background-color:var(--background); 
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
 
}
.skills_container
{
  display: flex;

 flex-wrap: wrap;
  text-align: center;
  width: 100%;
  justify-content: center;

}

/* Style the headings */
.skills h2 {
  color:var(--text-dark); 
  margin-bottom: 10px;
  text-align: center;
  font-size: 2.5rem;
}

.skills h3 {
  color:var(--primary-color-dark); 
  margin-bottom: 5px;
  padding: 20px;
}




.skills_name ul 
{
  display: flex;
  flex-direction: column;
}

.skills_name ul li {
  color: var(--primary-color); 
  padding: 3px; 
}
.skills_name
{
  width: 400px;
  background-color: var(--background1);
  margin: 5px;
 padding-bottom: 10px;

}
.skills_name ul li:hover
{
  color: var(--primary-color-dark);
  font-weight: 500;
}


/* projects */

.projects
{
  width: 100%;
  display: flex;
  background-color: var(--background1);
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 50px;
 
}
.projects h2{
  font-size: 2.5rem;
  padding-bottom: 5px;
  color: var(--text-dark);
}
.project_wrapper
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.project_container
{
 
  width: 300px;
  margin: 1%;
  height: 40vh;
  background-color: var(--primary-color);
}
.project_container img
{
  width: 100%;
  height: 32vh;
 
}
.project_container p
{
  width: 100%;
  color: var(--text-dark);
  font-weight: 1000;
  font-size: 1,2rem;
  text-align: center;
 
 
}



 .footercontainer
 {
   
    padding: 70px 30px 20px;
   
    height: 50vh;
    width: 100%;
    background-color: var(--background);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
   

 }
 .footercontainer p
 {
        font-size: 30px;
        font-weight: 500;color: var(--primary-color-dark);
        padding-bottom: 5px ;
 }
 @keyframes fade-in
 {
   to{scale:1;opacity:1}
 }
  
 /* socail icon */
 .socialicons
 {
    display: flex;
    justify-content: center;
  
 }
 .socialicons a
 {
    text-decoration: none;
    padding: 10px;
    background-color: var(--background1);
    color: var(--color3);
    margin: 13px;
   clip-path: circle();
    opacity: 0;
    animation: fade-in linear forwards ;
    animation-timeline: view();
    animation-range: entry ;



 }

.socialicons a i
{
    font-size:2rem;
    color:var(--primary-color-dark);
    opacity: 0.7;
}
/* hover effect of social icon */
.socialicons a:hover
{
    background-color: var(--primary-color-dark);
    transition: 0.8s;

}
.socialicons a:hover i
{
    color: var(--text-light);
    transition: 0.8s;

}


/* project_website_page */

.body_container
{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}

.back-home i
{
  margin-top: 30px;
  margin-left: 30px;
  color: var(--text-dark);
  font-size: 2rem;
}

.body_container h2
{
  color: var(--text-dark);
  font-size: 2rem;
  text-align: center;
}
.project_display
{
 
  border: 3px outset var(--secondary-color);
  width:95%;
  justify-self: center;
  margin: 2.5%;
 
 
}
.project_display h3{
  margin-top: 2%;
  color: var(--text-dark);
  text-align: center;
}
.project_content
{
  margin-top: 30px;
  width:100%;
 
  display: flex;
  flex-direction: column;
 
  
}

.project_top
{
  
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  
 
}
.project_middle
{
  
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  
 
}
.project_end
{
  
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  
  
 
}
.project_content h4
{
  color: var(--text-dark);
  margin-left: 5px;
  text-decoration: wavy;
  text-shadow: 1px 1px var(--secondary-color);
}
.project_content p{
  margin-left: 6px;
  color: var(--text-dark);
  font-size: 1rem;
  padding: 10px;
}
.project_content ul 
{
  color:var(--text-dark);
  display: block;
 padding-left:30px ;
  /* align-items: flex-start; */
  list-style: disc;
  padding-bottom: 10px;
}
.project_content ul li{
   
   
  line-height: 1.5rem;
  font-size:1rem;
}
.overview
{
  padding: 2px;
  border: 2px inset var(--text-light) ;
}

.languages
{
  padding: 2px;
  border: 2px inset var(--text-light) ;
}
.keyfeatures
{
  padding: 2px;
  border: 2px inset var(--text-light) ;
}
.links
{
  padding: 2px;
  border: 2px inset var(--text-light) ;
  
}
.links_icon
{
  width: 100%;
 letter-spacing: 10px;
  text-align: center;
  
}
.links a{
  color: var(--text-dark);
  
  font-size:2rem;
  
 

}

.role
{
  padding: 2px;
  border: 2px inset var(--text-light) ;
}
.improve
{
  padding: 2px;
  border: 2px inset var(--text-light) ;
}

.project_image
{
 
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding: 2rem;
  
} 
.project_image video
{
  width: calc(100%);
  height: 50vh;
  padding: 7px;
  vertical-align: middle;
}
.project_image img{
  width: calc(100% / 4);
  height: 50vh;
  padding: 7px;
  vertical-align: middle;
  transition: all 0.3s ease;
 

 

}
.back_top
{
  width: 100%;
  background-color: var(--background);
  text-align: center;
  
  margin-bottom: 5px;
}
.back_top a
{
  color: var(--text-dark);
  font-size: 1.5rem;
}



@media (width < 1000px) {


  .project_content
  {
    flex-direction: column-reverse;
  }
  .project_left,.project_right
  {
    width: 100%;
  }
  .project_image img{
   width: calc(100% / 3);
  }


}






@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--background);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
    
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  .aboutme
{
  width: 100%;
  background-color: var(--background1);
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.left_container,.right_container
{
  width: 100%;
}

.project_content
{
  flex-direction: column;
}

.project_image img{
  width: calc(100% / 2);
 }

}

@media (width < 450px) {
  .project_image img{
    width: calc(100% / 1);
   }

   .project_top,.project_end,.project_middle
{
  
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  
 
} 


}

@media (width < 350px) {
  .right_container 
  {
    
    padding: 0px;
  }
 
  .footercontainer p{
    font-size: 15px;
  }

  
  .project_top,.project_end,.project_middle
  {
    
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    
   
  } 
}

